extends layout

block content

  //- My Ratings
  - var ratings = [ 'Wtf was that?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];
  //- div
    //- input#search(type="text")
    //- ul#search-results
  each movie in movies 
    .row
      .col-md-12
        .title
          if !!movie.date
            .date #{ moment(movie.date).format('D MMMM YYYY') }
          h2= movie.title
        h5 Starring
        ul.cast
          each actor in movie.cast
            li
              a(href="/actor?name=" + actor)= actor
        h3.rating It was 
          span.rating= ratings[movie.rating - 1]
        .ion-ios7-arrow-down        