doctype html
html
  head
    title Movee
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/movies.css')
  body
    .container
      block content

    script(src="/js/movies.js")