doctype html
html
  head
    title Movee
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/movies.css')
    script(src="http://localhost:35729/livereload.js")
  body
    .container
      block content

    script(src="/js/movies.js")