extends layout

block content

  if movie
    .movies
      .movies__movie
        .movies__movie-content
          form(method="post", action="/new")
            h2.movies__movie-title= movie.title
            h5 Starring
            if !!movie.cast
              ul.movies__movie-cast
                each actor in movie.cast
                  li.movies__movie-actor
                    a(href="/actor?name=" + actor)= actor.name
            h5 Any extra cast members?
            .movies__movie-extra-cast
              input(type="text", id="extraCast", name="extraCast")
            div.movies__movie-np-rating
              span I give it a
              input(type="text", id="rating", name="rating")

            input.btn(type="submit", placeholder="Skicka")
