extends layout

block content

  if movie
    .row.index
      .col-md-12
        form(method="post",action="/new")
          .title
            h2(name="title=")= movie.title
          h5 Starring
          if !!movie.cast
            ul.cast
              each actor in movie.cast
                li
                  a(href="/actor?name=" + actor)= actor.name
          h3.rating I give it a
            input(type="text", id="rating", name="rating")

          input(type="submit")
