extends layout

block content

  if movie
    #watching.row.index
      .col-md-12
        img(src=movie.poster.img)
        form(method="post",action="/new")
          .title
            h2(name="title=")= movie.title
          h5 Starring
          if !!movie.cast
            ul.cast
              each actor in movie.cast
                li
                  a(href="/actor?name=" + actor)= actor.name
          h5 Any extra cast members?
          .more-cast
            input(type="text", id="extraCast", name="extraCast")
          h3.rating I give it a
            input(type="text", id="rating", name="rating")

          input(type="submit")
